[submodule "repos/abc"]
	path = repos/abc
	url = https://github.com/berkeley-abc/abc
[submodule "repos/boolector"]
	path = repos/boolector
	url = https://github.com/Boolector/boolector
[submodule "repos/CVC4-archived"]
	path = repos/CVC4-archived
	url = https://github.com/CVC4/CVC4-archived
[submodule "deps/libpoly"]
	path = repos/libpoly
	url = https://github.com/SRI-CSL/libpoly
[submodule "repos/cudd"]
	path = repos/cudd
	url = https://github.com/ivmai/cudd
[submodule "repos/yices2"]
	path = repos/yices2
	url = https://github.com/SRI-CSL/yices2
[submodule "repos/z3-4.8.8"]
	path = repos/z3-4.8.8
	url = https://github.com/Z3Prover/z3
[submodule "repos/z3-4.8.14"]
	path = repos/z3-4.8.14
	url = https://github.com/Z3Prover/z3
[submodule "repos/cvc5"]
	path = repos/cvc5
	url = https://github.com/cvc5/cvc5
[submodule "repos/bitwuzla"]
	path = repos/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla
