name: what4-solvers
on:
  push:
    tags: ["v?[0-9]+"]
    branches: [main, "release-**"]
  pull_request:
  workflow_dispatch:

env:
  CACHE_VERSION: 1
  LATEST_Z3_VERSION: "4.8.14"
  # Some of the runners (e.g., Windows) use very recent versions of CMake that
  # are no longer compatible with CMake < 3.5, which is required by various
  # solvers' builds. For now, we try using the recent CMake versions anyway.
  CMAKE_POLICY_VERSION_MINIMUM: "3.5"

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: false
          persist-credentials: false
      - name: Shellcheck
        run: |
          shellcheck -x -P SCRIPTDIR .github/ci.sh
          shellcheck scripts/download-solvers.sh
          shellcheck scripts/test-solvers.sh

  # This job captures native runners that cannot be neatly containerized
  build-native:
    runs-on: ${{ matrix.os }}
    needs: check
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15, macos-15-intel, windows-2022]
        solver: [abc, bitwuzla, boolector, cvc4, cvc5, yices, z3-4.8.8, z3-4.8.14]
    steps:
      # This is necessary to clone the yices2 repo on Windows, as some of the
      # repo's test cases exceed the Windows API's default file path limit of
      # 260 characters.
      - name: Enable long file paths on Windows
        run: git config --system core.longpaths true
        if: contains(matrix.os, 'windows')

      - name: Install dependencies (macOS)
        run: |
          brew update
          brew install gperf automake autoconf ninja gnu-sed
          # macOS's version of sed lacks the -r option, which CVC5 requires. To
          # work around this, we install put GNU sed before macOS's sed on the
          # PATH.
          echo "PATH=/usr/local/opt/gnu-sed/libexec/gnubin:$PATH" >> $GITHUB_ENV
        if: contains(matrix.os, 'macos')

      - name: Install dependencies (Windows)
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          path-type: inherit
          install: |
            autoconf
            automake
            curl
            dos2unix
            git
            gperf
            lzip
            m4
            make
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ninja
            patch
            tar
            unzip
        if: contains(matrix.os, 'windows')

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python libraries
        run: |
          python -m pip install --upgrade pip
          pip install meson pyparsing toml tomli

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: build_solver (non-Windows)
        run: .github/ci.sh build_${{ matrix.solver }}
        if: runner.os != 'Windows'

      - name: build_solver (Windows)
        shell: msys2 {0}
        run: .github/ci.sh build_${{ matrix.solver }}
        if: runner.os == 'Windows'

      - name: test_solver (non-Windows)
        run: ./scripts/test-solvers.sh test_solver ${{ matrix.solver }} bin
        if: runner.os != 'Windows'

      - name: test_solver (Windows)
        shell: msys2 {0}
        run: ./scripts/test-solvers.sh test_solver ${{ matrix.solver }} bin
        if: runner.os == 'Windows'

      - name: Normalize runner name
        run: echo "OS_NAME=$(.github/ci.sh normalize_runner_name ${{ matrix.os }})" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          path: bin
          name: ${{ env.OS_NAME }}-${{ runner.arch }}-${{ matrix.solver }}-bin

  build-container:
    runs-on: ${{ matrix.os }}
    needs: check
    # We use an unpinned image because downstream users typically use unpinned images as well.
    # By using the `latest` tag we aim to catch any future breaking changes here.
    container:
      image: ${{ matrix.container }}
    strategy:
      fail-fast: false
      matrix:
        # the base runner OS - we use the latest ubuntu, both in x86 and arm64
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        # basic containers to use - ubuntu 22.04, ubuntu 24.04 and ubi9
        # each will be built in both arm and x86 versions
        container: [ubuntu:24.04, ubuntu:22.04, redhat/ubi9:latest]
        solver: [abc, bitwuzla, boolector, cvc4, cvc5, yices, z3-4.8.8, z3-4.8.14]
    steps:

      - name: Install dependencies (Red Hat UBI 9)
        run: |
          # Install EPEL for additional packages
          dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm

          # Install base build tools (including glibc-static and libstdc++-static for static linking)
          # This includes all dependencies needed across all solvers
          dnf install -y gcc gcc-c++ make git patch tar unzip automake autoconf cmake ninja-build \
            glibc-static libstdc++-static gmp-devel

          # Install additional dependencies from EPEL
          dnf install -y --enablerepo=epel lzip
        if: contains(matrix.container, 'redhat')

      - name: Install additional dependencies (Red Hat UBI 9)
        run: |
          # Build and install gperf from source (not available in UBI 9 repos)
          # Required by: Bitwuzla, Z3, Yices, CVC4, CVC5, Boolector
          curl -sL http://ftp.gnu.org/gnu/gperf/gperf-3.1.tar.gz | tar xz
          cd gperf-3.1 && ./configure && make -j4 && make install && cd .. && rm -rf gperf-3.1

          # Install Python 3 and Java
          # Python: Required by Bitwuzla, Z3, Yices, CVC4, CVC5, Boolector
          # Java: Required by CVC4, CVC5 (for ANTLR)
          dnf install -y python3 python3-pip java-17-openjdk-devel
        if: contains(matrix.container, 'redhat')

      - name: Install dependencies (Ubuntu)
        run: |
          apt-get update
          apt-get install -y gperf automake autoconf libreadline-dev lzip ninja-build git make gcc curl cmake libgmp-dev
        if: contains(matrix.container, 'ubuntu')

      - name: Install Python and Python libraries (Ubuntu)
        run: |
          apt-get install -y python3 python3-pip python3-venv
          # Use --break-system-packages only if pip supports it (pip >= 23.0)
          if pip3 install --help | grep -q break-system-packages; then
            pip3 install meson pyparsing toml tomli --break-system-packages
          else
            pip3 install meson pyparsing toml tomli
          fi
        if: contains(matrix.container, 'ubuntu')

      - name: Install Python libraries (Red Hat UBI 9)
        run: |
          python3 -m pip install --upgrade pip
          pip3 install meson pyparsing toml tomli
        if: contains(matrix.container, 'redhat')

      - name: Install Java (Ubuntu)
        run: |
          apt-get install -y openjdk-17-jdk
        if: contains(matrix.container, 'ubuntu')

      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: build_solver
        run: .github/ci.sh build_${{ matrix.solver }}

      - name: test_solver
        run: ./scripts/test-solvers.sh test_solver ${{ matrix.solver }} bin

      - name: Normalize container name
        run: echo "OS_NAME=$(.github/ci.sh normalize_runner_name ${{ matrix.container }})" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          path: bin
          name: ${{ env.OS_NAME }}-${{ runner.arch }}-${{ matrix.solver }}-bin

  package_solvers:
    runs-on: ubuntu-latest
    needs: [build-native, build-container]
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu packages
          - os: ubuntu-24.04
            arch: X64
          - os: ubuntu-24.04
            arch: ARM64
          - os: ubuntu-22.04
            arch: X64
          - os: ubuntu-22.04
            arch: ARM64
          # macOS packages
          - os: macos-15
            arch: ARM64
          - os: macos-15
            arch: X64
          # Windows packages
          - os: windows-2022
            arch: X64
          # RedHat UBI9 packages
          - os: redhat-ubi9
            arch: X64
          - os: redhat-ubi9
            arch: ARM64
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: false
          fetch-depth: 1
          persist-credentials: false

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-abc-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-bitwuzla-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-boolector-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-cvc4-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-cvc5-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-yices-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-z3-4.8.8-bin"
          path: bin

      - uses: actions/download-artifact@v6
        with:
          name: "${{ matrix.os }}-${{ matrix.arch }}-z3-4.8.14-bin"
          path: bin

        # Make a copy of z3-<LATEST_Z3_VERSION> named z3 for ease of use.
        # Unfortunately, GitHub Actions' upload-artifact action doesn't support
        # symlinks (see https://github.com/actions/upload-artifact/issues/93),
        # so we have no choice but to copy the entire binary.
        #
        # The Windows binaries have an .exe suffix, thus we need to account for that
        # in the conditional copy. Note that we are using the `matrix.os`,
        # which is `windows-2022`, rather than the runner OS, which would be `Windows`
      - name: Copy latest Z3 version
        run: |
         [[ "${{ matrix.os }}" == *windows* ]] && EXE=".exe" || EXE=""
         cp bin/z3-${{ env.LATEST_Z3_VERSION }}$EXE bin/z3$EXE

      - uses: actions/upload-artifact@v4
        with:
          path: bin
          name: ${{ matrix.os }}-${{ matrix.arch }}-bin

  # Indicates sufficient CI success for the purposes of mergify merging the pull
  # request, see .github/mergify.yml. This is done instead of enumerating each
  # instance of each job in the mergify configuration for a number of reasons:
  # - continue-on-error is respected, won't block merge
  # - changes to jobs or job instances don't require a mergify config update
  # - dependencies through `needs:` are validated, CI will fail if it's invalid
  mergify:
    runs-on: ubuntu-24.04
    needs: [build-native, build-container]
    steps:
      - run: "true"
