name: what4-solvers
on:
  push:
    tags: ["v?[0-9]+"]
    branches: [main, "release-**"]
  pull_request:
  workflow_dispatch:

env:
  CACHE_VERSION: 1
  LATEST_Z3_VERSION: "4.8.14"
  # Some of the runners (e.g., Windows) use very recent versions of CMake that
  # are no longer compatible with CMake < 3.5, which is required by various
  # solvers' builds. For now, we try using the recent CMake versions anyway.
  CMAKE_POLICY_VERSION_MINIMUM: "3.5"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, ubuntu-22.04, macos-13, macos-14, windows-2022]
        solver: [abc, bitwuzla, boolector, cvc4, cvc5, yices, z3-4.8.8, z3-4.8.14]
    steps:
      # This is necessary to clone the yices2 repo on Windows, as some of the
      # repo's test cases exceed the Windows API's default file path limit of
      # 260 characters.
      - name: Enable long file paths on Windows
        shell: bash
        run: git config --system core.longpaths true
        if: runner.os == 'Windows'

      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies (Ubuntu)
        run: |
          sudo apt-get update
          sudo apt-get install gperf automake autoconf libreadline-dev lzip ninja-build
        if: runner.os == 'Linux'

      - name: Install dependencies (macOS)
        run: |
          brew update
          brew install gperf automake autoconf ninja gnu-sed
          # macOS's version of sed lacks the -r option, which CVC5 requires. To
          # work around this, we install put GNU sed before macOS's sed on the
          # PATH.
          echo "PATH=/usr/local/opt/gnu-sed/libexec/gnubin:$PATH" >> $GITHUB_ENV
        if: runner.os == 'macOS'

      - name: Install dependencies (Windows)
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          path-type: inherit
          install: |
            autoconf
            automake
            curl
            dos2unix
            git
            gperf
            lzip
            m4
            make
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ninja
            patch
            tar
            unzip
        if: runner.os == 'Windows'

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python libraries
        run: |
          python -m pip install --upgrade pip
          pip install meson pyparsing toml tomli

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: build_solver (non-Windows)
        shell: bash
        run: .github/ci.sh build_${{ matrix.solver }}
        if: runner.os != 'Windows'

      - name: build_solver (Windows)
        shell: msys2 {0}
        run: .github/ci.sh build_${{ matrix.solver }}
        if: runner.os == 'Windows'

      # Needed to normalize both "ubuntu-24.04" and "ubuntu-24.04-arm" to
      # "ubuntu-24.04" so that the Ubuntu ARM64 binaries don't accidentally
      # mention ARM twice (#63).
      - name: Normalize runner name
        run: echo "OS_NAME=$(.github/ci.sh normalize_runner_name ${{ matrix.os }})" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          path: bin
          name: ${{ env.OS_NAME }}-${{ runner.arch }}-${{ matrix.solver }}-bin

  package_solvers:
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, ubuntu-22.04, macos-13, macos-14, windows-2022]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 1

      # Needed to normalize both "ubuntu-24.04" and "ubuntu-24.04-arm" to
      # "ubuntu-24.04" so that the Ubuntu ARM64 binaries don't accidentally
      # mention ARM twice (#63).
      - name: Normalize runner name
        run: echo "OS_NAME=$(.github/ci.sh normalize_runner_name ${{ matrix.os }})" >> $GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-abc-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-bitwuzla-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-boolector-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-cvc4-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-cvc5-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-yices-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-z3-4.8.8-bin"
          path: bin

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.OS_NAME }}-${{ runner.arch }}-z3-4.8.14-bin"
          path: bin

        # Make a copy of z3-<LATEST_Z3_VERSION> named z3 for ease of use.
        # Unfortunately, GitHub Actions' upload-artifact action doesn't support
        # symlinks (see https://github.com/actions/upload-artifact/issues/93),
        # so we have no choice but to copy the entire binary.
      - name: Copy latest Z3 version
        shell: bash
        run: cp bin/z3-${{ env.LATEST_Z3_VERSION }} bin/z3

      - uses: actions/upload-artifact@v4
        with:
          path: bin
          name: ${{ env.OS_NAME }}-${{ runner.arch }}-bin

  # Indicates sufficient CI success for the purposes of mergify merging the pull
  # request, see .github/mergify.yml. This is done instead of enumerating each
  # instance of each job in the mergify configuration for a number of reasons:
  # - continue-on-error is respected, won't block merge
  # - changes to jobs or job instances don't require a mergify config update
  # - dependencies through `needs:` are validated, CI will fail if it's invalid
  mergify:
    runs-on: ubuntu-24.04
    needs: [build]
    steps:
      - run: "true"
